<div id="question-<%= question.id %>">
	<p class="question"><%= question.prompt %></p>

	<form name="add_choice" action="/surveys/<%= question.survey.id %>/questions/<%= question.id %>" method="post">
	  <input type="text" name="choice[name]" placeholder="Choice">
	  <input type="submit" value="Add Choice">
	</form>
	
	<div class="choices">
	    <ul>
		    <% question.choices.each do |choice| %>
		        <%= erb :"choices/_show", locals: {choice: choice} %>
		    <% end %>
		</ul>
	</div>

</div>